/venv
.idea/*
.dist/*
/samples
/application/audio
/application/__pycache__
/application/controllers/__pycache__
/config/__pycache__
/dataset/__pycache__
/preprocess/__pycache__
/train/__pycache__
/train/runs
/train/models
/common/__pycache__
/interactive_notebooks/.ipynb_checkpoints