numpy
matplotlib
scikit-learn
scipy
msgpack
stempeg
tqdm
soundfile
librosa
git+https://github.com/sigsep/norbert@0.1.0c#egg=norbert
flask
flask_sqlalchemy
pymysql
ipdb
tensorboard
tensorboardX

# pytorch for gpu (CUDA10 and python 3.7) on windows machine
https://download.pytorch.org/whl/cu100/torch-1.0.1-cp37-cp37m-win_amd64.whl
# for linux machine
# https://download.pytorch.org/whl/cu100/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
torchvision

# museval
# notebook==5.7.5

# for generation of documentation only
# sphinx
# sphinx-rtd-theme

# to convert stems to wav
# stempeg