numpy==1.16.1
matplotlib==3.0.2
scikit-learn==0.20.3
scipy==1.10.0
msgpack==0.6.1
stempeg==0.1.6
tqdm==4.31.1
soundfile==0.10.2
librosa==0.6.3
git+https://github.com/sigsep/norbert@0.1.0c#egg=norbert
flask==1.0.2
flask_sqlalchemy==2.3.2
pymysql==0.9.3
ipdb==0.12
tensorboard==1.13.1
tensorboardX==1.6

# pytorch for cpu (python 3.7) on windows machine
https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl
# for linux machine
# https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
torchvision

# museval==0.2.0
# notebook==5.7.5

# for generation of documentation only
# sphinx==2.0.1
# sphinx-rtd-theme==0.4.3

# to convert stems to wav
# stempeg