/*-----------------------------------------------------Parent CSS--------------------------------------------------*/

.pointer {
    cursor: pointer;
}



body {
    font-family: sans-serif, roboto, Arial,Helvetica Neue,sans-serif;
    padding-top: 60px;
}

.disable-text-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*-----------------------------------------------------KARAOKEY CSS--------------------------------------------------*/

.box {
    font-size: 1.25rem;
    background: #c4c4c4;
    padding: 100px 20px;
    outline: 3px dashed black;
    -webkit-transition: outline-offset .10s ease-in-out, background-color .15s linear;
    transition: outline-offset .10s ease-in-out, background-color .15s linear;
}

.box-error {
  display: none;
}

.box-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-icon {
    font-size: 60px;
}

input[type=checkbox]
{
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 10px;
}
