/*-----------------------------------------------------Parent CSS--------------------------------------------------*/

.pointer {
    cursor: pointer;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
    font-family: sans-serif, roboto, Arial,Helvetica Neue,sans-serif;
    color: white;
    background: linear-gradient(200deg, #2d9cdb, #219653, #bb6bd9, #f2994a);
    height: 100vh;
    background-size: 500% 500%;
    -webkit-animation: GradientAnimation 20s ease-in-out infinite;
    -moz-animation: GradientAnimation 20s ease-in-out infinite;
    -o-animation: Gradient 30s ease infinite;
    animation: GradientAnimation 20s ease-in-out infinite;
}

/*-----------------------------------------------------KARAOKEY CSS--------------------------------------------------*/

.box {
    font-size: 1.25rem;
    background: #c4c4c4;
    padding: 100px 20px;
    outline: 3px dashed black;
    -webkit-transition: outline-offset .10s ease-in-out, background-color .15s linear;
    transition: outline-offset .10s ease-in-out, background-color .15s linear;
}

.box-error {
  display: none;
}

.box-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-icon {
    font-size: 60px;
}

input[type=checkbox]
{
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 10px;
}